.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title{
    background-color: #f9f9f9;
}

.list-table-format img{
    width: 50px;
}

.list-table-format .cursor{
    background-color: tomato;
    width: 46px;
    font-size: max(0.7vw, 10px);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.list-table-format .cursor:hover {
    background-color: darkred;
}

@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}